@font-face {
	font-family: "Poppins";
	src: url("../popins/Poppins-Regular.woff2") format("woff2"),
		url("../popins/Poppins-Regular.woff") format("woff");
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "Poppins";
	src: url("../popins/Poppins-Bold.woff2") format("woff2"),
		url("../popins/Poppins-Bold.woff") format("woff");
	font-weight: bold;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "Poppins";
	src: url("../popins/Poppins-Light.woff2") format("woff2"),
		url("../popins/Poppins-Light.woff") format("woff");
	font-weight: 300;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "Poppins";
	src: url("../popins/Poppins-Medium.woff2") format("woff2"),
		url("../popins/Poppins-Medium.woff") format("woff");
	font-weight: 500;
	font-style: normal;
	font-display: swap;
}
