@import '../inc/vars';

body {
    position: relative;
    &.fixed {
        overflow: hidden;
    }

    &.is-active {
        background: rgba(0, 0, 0, 0.6);
        transition: 0.3s ease-in-out;
    }
}

.header {
    z-index: 99;
    left: 0;
    width: 100%;
    top: 0;
    transition: all 0.3s ease-in-out;
    padding: rem(16) 0;
    position: sticky;
    top: 0;
    background: transparent;
    margin-bottom: rem(-84);
    @include tablet-md {
        margin-bottom: rem(0);
        position: fixed;
    }
    &.sticky {
        background: rgb(31, 2, 34);
    }

    nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
        .primary_right,
        .primary_left {
            width: 28.5%;
            height: max-content;
            ul {
                display: flex;
                justify-content: space-between;
                align-items: center;
                list-style: none;
                height: 100%;
                a {
                    background: linear-gradient(60.46deg, rgb(154, 121, 50), rgb(227, 218, 149), rgb(243, 242, 188), rgb(153, 120, 50));
                    -webkit-background-clip: text;
                    -webkit-text-fill-color: transparent;
                    background-clip: text;
                    font-family: 'Fixel Display';
                    font-size: 18px;
                    font-weight: 300;
                    line-height: 25px;
                    letter-spacing: 0%;
                    text-align: left;
                    text-transform: uppercase;
										transition: all .3s;
                    &:hover {
                        opacity: 0.7;
                    }
                }
            }
        }
    }

    .menu-toggle {
        visibility: visible;
        opacity: 1;
        position: relative;
        width: rem(30);
        height: rem(20);
        cursor: pointer;
        display: none;
        margin-left: auto;
        z-index: 99;
        cursor: pointer;

        &.is-active {
            small {
                transform: scale(0);
            }

            &::before {
                transform: rotate(45deg);
                top: rem(9);
            }

            &::after {
                transform: rotate(-45deg);
                bottom: rem(9);
            }
        }

        small {
            position: absolute;
            background: linear-gradient(60.46deg, #9a7932, #e3da95, #f3f2bc, #997832);
            left: 0;
            top: rem(9);
            width: 60%;
            height: 2px;
            transition: all 0.1s;
        }

        &::before,
        &::after {
            content: '';
            background: linear-gradient(60.46deg, #9a7932, #e3da95, #f3f2bc, #997832);
            position: absolute;
            width: 100%;
            height: rem(2);
            left: 0;
            transition: all 0.3s;
        }

        &::before {
            top: 0;
        }

        &::after {
            bottom: 0;
        }
    }
    .nav-mob,
    .logo_mob {
        display: none;
    }
    @include tablet-md {
        .nav-desc {
            display: none;
        }
        .logo_mob {
            display: block;
            margin: auto;
        }
        .header_mob {
            display: flex;
            align-items: center;
        }
        nav.nav-mob {
            display: block;
            position: fixed;
            background: rgb(31, 2, 34);
            left: -100%;
            top: 0;
            width: 100%;
            max-width: rem(350);
            height: 100%;
            z-index: 10;
            padding-top: rem(73);
            padding-left: rem(24);
            padding-right: rem(24);
            overflow: auto;
            transition: 0.3s ease-in-out;
            .btn {
                margin-top: rem(30);
            }
            @include tablet-sm {
                max-width: rem(200);
            }

            ul {
                flex-direction: column;
                li {
                    display: block;
                    font-size: 1.2rem;
                    width: 100%;
                    padding: 0.625rem 0;

                    a {
                        background: linear-gradient(60.46deg, rgb(154, 121, 50), rgb(227, 218, 149), rgb(243, 242, 188), rgb(153, 120, 50));
                        -webkit-background-clip: text;
                        -webkit-text-fill-color: transparent;
                        background-clip: text;
                        font-family: 'Fixel Display';
                        font-size: rem(16);
                        font-weight: 300;
                        line-height: 1.375;
                        letter-spacing: 0%;
                        text-align: left;
                        text-transform: uppercase;
                    }

                    &.menu-item-has-children {
                        .icon {
                            transform: none;
                            top: rem(14);
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            font-size: rem(24);
                            transition: 0.2s;
                            color: #333333;
                            cursor: pointer;
                        }

                        > ul {
                            border: none;
                        }

                        &:hover {
                            > ul {
                                transform: none;
                                position: initial;
                                border: none;
                            }
                        }

                        ul {
                            .menu-item-has-children {
                                .icon {
                                    top: rem(20);
                                }
                            }
                        }
                    }

                    ul {
                        width: 100%;
                        position: static;
                        opacity: 1;
                        visibility: visible;
                        box-shadow: none;

                        li {
                            padding: 0.6375rem 0.625rem;
                            a {
                                padding-top: 0;
                                padding-bottom: 0;
                            }
                        }
                    }

                    &.is-active {
                        .rotate {
                            transform: rotateX(180deg);
                            color: #333333;
                        }

                        ul {
                            display: none;
                        }

                        .toggled {
                            display: block;

                            .is-active {
                                .toggled {
                                    display: block;
                                }

                                .is-active {
                                    .toggled {
                                        display: block;
                                    }
                                }
                            }
                        }
                    }
                }
            }

            &.is-active {
                display: block;
                left: 0;

                .close {
                    position: absolute;
                    width: rem(25);
                    height: rem(25);
                    right: rem(15);
                    top: rem(15);
                    &::after,
                    &::before {
                        content: '';
                        position: absolute;
                        width: rem(25);
                        height: rem(2);
                        background-color: $blue;
                    }
                    &:after {
                        transform: rotate(45deg);
                    }

                    &::before {
                        transform: rotate(-45deg);
                    }
                }
            }
        }

        .menu-toggle {
            display: block;
            margin-left: rem(0);
        }
    }
}
.menu-item-gtranslate {
    ul.sub-menu {
        display: flex;
        flex-direction: row !important;
        gap: rem(4);
        li {
            border-right: rem(1.5) solid #ebe6a9;
            padding: 0 rem(5) 0 !important;
            &:last-child {
                border-right: none;
            }
        }
    }
}
a.gt-current-wrapper.notranslate.glink.nturl.gt_raw_link-xxjexk {
    display: none;
}
