@use 'inc' as *;

html {
    font-size: $bodyfontsize;
    scroll-behavior: smooth;
}

body {
    color: #4d4d4d;
    font-size: $bodyfontsize;
    font-family: $bodyFont;
    font-weight: 400;
}
main {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.wpcf7 form.sent .wpcf7-response-output {
    border-color: #ebe6a9;
}
.wpcf7-response-output {
    color: #ebe6a9;
}
.thanks-page {
    background: rgb(31, 2, 34);
    position: relative;

    .thanks {
        position: relative;
        padding: clamp(rem(120), vw(240), rem(240)) 0;
        position: relative;
        margin: auto 0;
        &__overlay {
            top: 0;
            position: absolute;
            width: 100%;
            height: 100%;
            z-index: 0;
            background-position: center;
            background-size: cover;
            left: 0;
        }
        h2,
        .description {
            position: relative;
            z-index: 1;
            text-align: center;
            max-width: rem(730);
            margin: auto;
        }
    }
}

@import '_layout';
@import 'ui/_button';
@import 'ui/_headings';
@import 'ui/_article';
@import 'ui/_aspect-ratio';
/* Default Page */
// @import 'inc/_default-content';
/* Form checkboxes  */
// @import "inc/_checkboxes";
// HEADER & FOOTER
@import 'partials/header';
@import 'partials/footer';
